* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
button {
  border: none;
  cursor: pointer;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #e33333;
}
body {
  /* background: url(./images/bg.webp) no-repeat 0 0 / cover; */
}
/***********************/
.header {
  height: 5vw;
  width: 100%;
  background-color: chocolate;
  z-index: 1;
}
.main {
  display: flex;
  height: 60vw;
  width: 100%;
  background-color: blanchedalmond;
}
.main .column {
  height: 60vw;
}
.main .column:nth-child(1) {
  width: 10vw;
}
.main .column:nth-child(2) {
  width: 63vw;
  margin: 0 1vw;
}
.main .column:nth-child(3) {
  width: 25vw;
}
/* 第一列column开始 */
.timeAxisBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vw;
  background-color: beige;
}
.timeAxisBox .timeAxis {
  height: 26vw;
  width: 4vw;
  background-color: #fff;
}
.timeAxisBox .globalBtn {
  width: 4vw;
  height: 2vw;
  background-color: peachpuff;
  border-radius: 4vw;
}
.poetsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  background-color: peachpuff;
}
.poetsBox .poetsList {
  display: flex;
  height: 26vw;
  width: 8vw;
}
.poetsBox .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7vw;
  height: 26vw;
  background-color: #d6c9b0;
}
.poetsBox .list .allPoetsBtn {
  height: 3vw;
  width: 4vw;
  border-bottom: 2px solid #000;
  background-color: transparent;
}
.poetsBox .list .poets {
  /* overflow: scroll; */
}
.poetsBox .scroll {
  width: 1vw;
  background-color: #fff;
  height: 26vw;
}
/* 第一列column结束*/
/* 第二列column开始 */
.mapBox {
  position: relative;
  height: 40vw;
  background-color: burlywood;
}
.mapBox .eventBox {
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 22vw;
  height: 8vw;
  background-color: peachpuff;
}
.analysisBox {
  height: 20vw;
  background-color: wheat;
}
/* 第二列column结束*/
/* 第三列column开始 */
.emotionBox {
  height: 20vw;
  background-color: peachpuff;
}
.imageBox {
  height: 20vw;
  background-color: beige;
}
.lineChartBox {
  height: 20vw;
  background-color: darkgoldenrod;
}
/* 第三列column结束*/
