<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/main.js}" ></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/vue.js}"></script>

<!--    <link rel="stylesheet" href="../static/css/style.css">-->
<!--    <script src="../static/js/axios.min.js"></script>-->
<!--    <script src="../static/js/echarts.min.js"></script>-->
<!--    <script src="../static/js/main.js"></script>-->
</head>

<body>
    <!-- 标题区域 -->
    <div class="header">
        <button class="changeBtn" id="changeBtn" @click="changeBubble"></button>
    </div>
    <!-- 可视化大盒子 -->
    <div class="main">
        <div class="column">
            <!-- 时间轴 -->
            <div class="timeAxisBox">
                <div class="timeAxis">
<!--                    //为实现滚轮 内嵌一个div-->
                    <div id="timeAxis">
                    </div>
                </div>
                <button id="globalBtn">全局</button>
            </div>
            <!-- 诗人列表 -->
            <div class="poetsBox">
                <div class="poetsList" id="poetsList">
                    <!-- 左边，列表区域 -->
                    <div class="list">
                        <button class="allPoetsBtn" @click="clickAll()">全选</button>
                        <div class="poets">
                            <ul v-for="poet in poets">
                                <li><button @click="clickPoetName($event)" :value="poet">{{poet}}</button></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 右边，滚动框区域 -->
                    <div class="scroll"></div>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- 地图显示区域 -->
            <div class="mapBox">
                <!-- 历史事件栏 -->
                <div class="eventBox"></div>
            </div>
            <!-- 意象与情感关键的关联分析 -->
            <div class="analysisBox">
                <div class="innerLeaf"></div>
            </div>
        </div>
        <div class="column">
            <!-- 情感词云 -->
            <div class="bubbleBox">
            </div>
            <!-- 以十年为单位的作品折线图 -->
            <div class="lineChartBox"></div>

        </div>
    </div>
<!---->
    <script th:src="@{/js/map.js}"></script>
    <script th:src="@{/js/updateMap.js}"></script>
    <script th:src="@{/js/image_emo.js}"></script>
    <script th:src="@{/js/timeline.js}"></script>
    <script th:src="@{/js/leaf.js}"></script>
    <script th:src="@{/js/updateLeaf.js}"></script>
    <script th:src="@{/js/initAll.js}"></script>
    <script th:src="@{/js/updatePoetName.js}"></script>
    <script>
        new Vue({
            el:"#poetsList",
            data(){
                return{
                    poets:["李白","白居易","杜甫","杜牧"]
                }
            },
            methods:{
                clickPoetName(e){
                    updatePoetName(e.target.value);
                },
                clickAll(){
                    updatePoetName("");
                }
            }
        })
        new Vue({
            el:"#changeBtn",
            methods:{
                changeBubble(){
                    bubbleMode=(bubbleMode+1)%2
                    updateBubbles()
                }
            }
        })
    </script>
</body>

</html>