<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>唐代著名诗人路径与部分诗作特征可视化平台</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" href="#"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/main.js}" ></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script> Vue.config.productionTip=false;</script>
</head>

<body>
    <!-- 标题区域 -->
    <div class="header" style="font-size: 25px;font-weight: bolder;align-content: center;color:white;">
        唐代著名诗人路径与部分诗作特征可视化平台
        <span th:style="'background:url('+@{/images/help.png}+');background-size:cover;'" id="help" @mouseenter="mouseenter" @mouseleave="mouseleave"></span>
    </div>
    <!-- 可视化大盒子 -->
    <div class="main" th:style="'background:url('+@{/images/background.jpg}+');'" id="root">
        <div class="column">
            <!-- 时间轴 -->
            <div class="timeAxisBox">
                <div class="timeAxis">
<!--                    //为实现滚轮 内嵌一个div-->
                    <div id="timeAxis">
                    </div>
                </div>
                <button id="globalBtn" >全局</button>
            </div>
            <div class="timeSettingBox" id="timeSetting">
                <div class="innerTimeSet" @mouseenter="mouseenter">
                    <div>自定义时间</div>
                    <div class="inputBox">  <input type="text" class="timeSetting" id="timeBegin" value="618" oninput="value=value.replace(/[^\d]/g,'')" maxlength="3">- <input type="text" class="timeSetting" id="timeEnd" value="907" oninput="value=value.replace(/[^\d]/g,'')" maxlength="3"></div>
                    <button class="timeSubmitButton" type="button" @click="timeSubmit">应用</button>
                    <div class="periodBox">
                        <div class="periodList">
                            <button @click="timeSwitch(0)">初唐</button>
                            <button  @click="timeSwitch(1)">盛唐</button>
                            <button  @click="timeSwitch(2)">中唐</button>
                            <button  @click="timeSwitch(3)">晚唐</button>
                        </div>
                    </div>
                </div>
                <div class="floatingBox">
                    已自动填入该诗人生卒时间
                    <div class="triangle"></div>
                </div>
            </div>
            <!-- 诗人列表 -->
            <div class="currentPoetBox" style="align-content: center">当前：<span style="font-weight: bold;" class="currentPoet">全选</span></div>
            <div class="poetsBox">

                <div class="poetsList" id="poetsList">
                    <!-- 左边，列表区域 -->
                    <div class="list">
                        <button class="allPoetsBtn" @click="clickAll()">全选</button>
                        <div class="poets">
                            <ul v-for="poet in poets">
                                <li><button @click="clickPoetName($event)" :value="poet">{{poet}}</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="mapContainer">
                <div class="borderTop" th:style="'border-image-source:url('+@{/images/border1.png}+');border-image-slice: 67 67 0 67; border-image-width: 50px;border-image-outset: 5px;'"></div>
                <div class="borderRight" th:style="'border-image-source:url('+@{/images/border1.png}+');border-image-slice: 67 67 67 0; border-image-width: 50px;border-image-outset: 5px;'"></div>
                <div class="borderBottom" th:style="'border-image-source:url('+@{/images/border1.png}+');border-image-slice: 0 67 67 67; border-image-width: 50px;border-image-outset: 5px;'"></div>
                <div class="borderLeft" th:style="'border-image-source:url('+@{/images/border1.png}+');border-image-slice: 67 0 67 67; border-image-width: 50px;border-image-outset: 5px;'"></div>
                <!-- 地图显示区域 -->
                <div class="mapBox">
                </div>
                <!-- 历史事件栏 -->
                <div class="eventBox"></div>
            </div>
            <!-- 意象与情感关键的关联分析 -->
            <div class="analysisBox">
                <div class="innerLeaf"></div>
            </div>
        </div>
        <div class="column">
            <!-- 气泡图 -->
            <div class="bubbleContainer">
                <div class="floatingHelp" >
                    <b>帮助：</b><br>
                    本平台所用数据均来自网络，诗词数据不完整，并不保证数据准确性，请注意甄别。本平台所有数据呈现仅供参考。<br>
                    <b>各个模块的展示说明：</b><br>
                    ①地图模块。可根据所选定的时间在现代中国地图上绘制个别或全部已录入诗人的行动轨迹。由于数据限制，诗人行动轨迹可能存在地理位置的误差。<br>
                    ②情感词汇/意象词统计模块。可根据所选定的时间统计出所选诗人已录入的部分作品的情感词汇或意象词汇出现频率，点击切换按钮切换图表。其中情感词汇为粗略统计，即将某些可表露情感的词汇归类为每种情感，统计此类词汇的数量，结果仅供参考。<br>
                    ③意象-情感关系统计模块。可根据所选定的时间统计出所选诗人已录入的部分作品中意象和情感的大概关系，并以饼图大小表示其关系强烈。统计方法为：若某诗中出现了意象x以及情感y，则x的统计数据中情感y的统计数加1。<br>
                    ④诗词数量统计折线图模块。显示所选时间段内，部分或全部已录入诗人在不同时间段诗作数量。需要注意的是，每位诗人仅录入了约100首诗词，并且仅有部分诗词有明确的时间记载，图表数据仅供参考。<br>
                    <b>使用说明：</b><br>
                    ①调整左上侧时间轴，可以规定时间为整个唐朝或某个年代，通过应用下方自定义时间可实现时间段自定义，鼠标悬浮在自定义窗口时可以选择唐朝四个不同的时期，快速定位时间。<br>
                    ②可通过点击左下方的诗人列表中的姓名筛选诗人数据，选择全选可查看所有诗人的数据，选定诗人后会在自定义窗口自动填入诗人生卒年，可点击“应用”以应用时间。
                </div>
                <button class="changeBtn2" id="changeBtn2" @click="changeBubble" th:style="'background:url('+@{/images/switch.png}+');background-size:cover;'"></button>
                <div class="bubbleBox">
                </div>
            </div>
            <!-- 以十年为单位的作品折线图 -->
            <div class="lineChartBox">
                <div> <div class="lineChart"></div></div>

            </div>

        </div>
    </div>
<!---->
    <script th:src="@{/js/map.js}"></script>

    <script th:src="@{/js/image_emo.js}"></script>
    <script th:src="@{/js/timeline.js}"></script>
    <script th:src="@{/js/leaf.js}"></script>
    <script th:src="@{/js/updateLeaf.js}"></script>
    <script th:src="@{/js/lineChart.js}"></script>
    <script th:src="@{/js/updateLineChart.js}"></script>
    <script th:src="@{/js/initAll.js}"></script>
    <script th:src="@{/js/updateMap.js}"></script>
    <script th:src="@{/js/updatePoetName.js}"></script>
    <script>
        new Vue({
            el:"#root",
            data(){
                return{
                    poets:["白居易","杜甫","杜牧","韩愈","李白","李贺","李商隐","刘禹锡","柳宗元","孟浩然","王勃","王昌龄","王维","元稹","温庭筠","韦应物","张九龄","陈子昂","岑参","骆宾王"]
                }
            },
            methods:{
                timeSubmit(){
                    timeSetting();
                },
                clickPoetName(e){
                    updatePoetName(e.target.value);
                    document.querySelector(".floatingBox").setAttribute("style","opacity:1");
                    setTimeout(function () {
                        document.querySelector(".floatingBox").setAttribute("style","opacity:0");
                    },1500)
                },
                clickAll(){
                    updatePoetName("");
                },
                mouseenter() {
                    document.querySelector(".floatingHelp").setAttribute("style","opacity:0.9;visibility:initial;")
                },
                mouseleave(){
                    document.querySelector(".floatingHelp").setAttribute("style","opacity:0;visibility:hidden")
                },
                changeBubble(){
                    if(bubbleMode==0) {
                        bubbleMode=1
                    }
                    else
                        bubbleMode=0
                    updateBubbles()
                },
                mouseenter(){
                    document.querySelector(".floatingBox").setAttribute("style", "opacity:0")
                },
                timeSwitch(num)
                {//四个唐代按钮
                    if(num==0)//初唐
                    {
                        document.getElementById("timeBegin").value=618;
                        document.getElementById("timeEnd").value=712;

                    }
                    else if(num==1)//盛唐
                    {
                        document.getElementById("timeBegin").value=713;
                        document.getElementById("timeEnd").value=755;

                    }
                    else if(num==2)//中唐
                    {
                        document.getElementById("timeBegin").value=756;
                        document.getElementById("timeEnd").value=824;

                    }
                    else if(num==3)//晚唐
                    {
                        document.getElementById("timeBegin").value=825;
                        document.getElementById("timeEnd").value=907;

                    }
                    timeSetting();
                }
            }
        })
        window.onload=function(){
            updateAll();
        }
    </script>
</body>

</html>