<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.poem_visualization.dao.FootprintMapper">

    <select id="selectFootprintByNameAndTime" resultType="java.util.Map">
        select group_concat(place order by (time)) as places
        from footprint
        where name = #{name} and (time between #{begin} and #{end})
        or id = (select id from footprint where time &lt; #{begin} order by id desc limit 1)
    </select>

    <select id="selectFootprintsByTime" resultType="java.util.Map">
        select name, group_concat(place order by (time)) as places
        from footprint
        where (time between #{begin} and #{end}) or id = (select id from footprint where time &lt; #{begin} order by id desc limit 1)
        group by name
    </select>

    <select id="selectFootprintsByName" resultType="java.util.Map">
        select group_concat(place order by (time)) as places
        from footprint
        where name = #{name}
        order by time
    </select>

    <select id="selectFootprints" resultType="java.util.Map">
        select name, group_concat(place order by (time)) as places
        from footprint
        group by name
    </select>

</mapper>