<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.poem_visualization.dao.PoemMapper">

    <select id="selectImagesByPoet" resultType="java.util.Map">
        select
            sum(content like '%梧桐%') as '梧桐',
            sum(content like '%古道%') as '古道',
            sum(content like '%梅%') as '梅',
            sum(content like '%日%') as '日',
            sum(content like '%月%') as '月',
            sum(content like '%杜鹃%') as '杜鹃',
            sum(content like '%雪%') as '雪',
            sum(content like '%菊%') as '菊',
            sum(content like '%亭%') as '亭',
            sum(content like '%风%') as '风',
            sum(content like '%山%') as '山',
            sum(content like '%大漠%') as '大漠',
            sum(content like '%酒%') as '酒',
            sum(content like '%柳%') as '柳',
            sum(content like '%明月%') as '明月',
            sum(content like '%落日%') as '落日',
            sum(content like '%竹%') as '竹',
            sum(content like '%笛%') as '笛',
            sum(content like '%沧海%') as '沧海',
            sum(content like '%松%') as '松',
            sum(content like '%舟%') as '舟'
        from poem
        where author = #{name}
    </select>
</mapper>