<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.poem_visualization.dao.PoemMapper">

    <select id="selectImagesByPoet" resultType="java.util.Map">
        select
            sum(content like '%梧桐%') as '梧桐',
            sum(content like '%古道%') as '古道',
            sum(content like '%梅%') as '梅',
            sum(content like '%日%') as '日',
            sum(content like '%月%') as '月',
            sum(content like '%杜鹃%') as '杜鹃',
            sum(content like '%雪%') as '雪',
            sum(content like '%菊%') as '菊',
            sum(content like '%亭%') as '亭',
            sum(content like '%风%') as '风',
            sum(content like '%山%') as '山',
            sum(content like '%大漠%') as '大漠',
            sum(content like '%酒%') as '酒',
            sum(content like '%柳%') as '柳',
            sum(content like '%明月%') as '明月',
            sum(content like '%落日%') as '落日',
            sum(content like '%竹%') as '竹',
            sum(content like '%笛%') as '笛',
            sum(content like '%沧海%') as '沧海',
            sum(content like '%松%') as '松',
            sum(content like '%舟%') as '舟'
        from poem
        where author = #{name}
    </select>

    <select id="selectEmoByPoet" resultType="java.util.Map">
        select
            sum(content like '%喜%') as '喜',
            sum(content like '%悲%') as '悲',
            sum(content like '%叹%') as '叹',
            sum(content like '%忧%') as '忧',
            sum(content like '%哀%') as '哀',
            sum(content like '%伤%') as '伤',
            sum(content like '%怆然%') as '怆然',
            sum(content like '%慷慨%') as '慷慨',
            sum(content like '%愁%') as '愁',
            sum(content like '%苦%') as '苦',
            sum(content like '%乱%') as '乱',
            sum(content like '%闷%') as '闷',
            sum(content like '%迷%') as '迷',
            sum(content like '%寂寞%') as '寂寞',
            sum(content like '%孤%') as '孤',
            sum(content like '%思%') as '思'
        from poem
        where author = #{name}
    </select>

</mapper>